.main-container{
    width: 600px;
    margin: 100px; 
}

.main-container ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, .5fr);
    grid-gap: 40px;
}

.main-container img{
    object-fit: scale-down;
}

.main-container ul li{
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 0 0;
}

.main-container ul li footer{
    background: #FFF;
    border: 1px solid #eee;
    /* padding: 5px 10px; */
    text-align: left;
    border-radius: 0 0 5px 5px;
}

.main-container ul li .buttons{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.main-container ul li .buttons button{
    height: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    border: 0;
    border-radius: 4px;
    background: #FFF;
    cursor: pointer;
}

.main-container ul li .buttons button:hover img{
    transform: translateY(-5px);
    transition: all .2s;
}

.team-image{
    width: 16px;
    height: 16px;
}

.player-info text{
    font-size: 14px;
    padding: 2px 0px 0px 3px;
}
